<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>

<listener class-name="WebandApi.ListenersNG"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="colour" value="Black"/>

 
    <classes>
     
        <class name="Verifyhomepage.page1Test"/>
      <class name="categoryNavigation.validateNavigationTest"/>
 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
